<img width="400" height="400" src="<%=url%>"/>
<!-- <img width="500" height="500" src="/uploads/<%= url %>"/> -->

<form  method="post" action="/compress/uploads/<%=name%>/<%=ext%>">
<input type="submit" value="Compress"/>

</form>